/*Importation de la police demandée*/
@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');
*  {
    /* Inclut le padding et la bordure dans la largeur et la hauteur de l'élément.
      Cela simplifie le calcul des tailles et évite les débordements inattendus. */
    box-sizing: border-box;
    /* Aligne les éléments sur la ligne de base du texte environnant, pour un rendu plus cohérent. */
    vertical-align: baseline;
    margin: 0 auto;
    /*Application de la police*/
    font-family: "Kufam";
}

/* création des colonnes en % avec 6 chiffres après la virgule*/
.col-1 {width: 8.333333%;}
.col-2 {width: 16.666666%;}
.col-3 {width: 25%;}
.col-4 {width: 33.333333%;}
.col-5 {width: 41.666666%;}
.col-6 {width: 50%;}
.col-7 {width: 58.333333%;}
.col-8 {width: 66.666666%;}
.col-9 {width: 75%;}
.col-10 {width: 83.333333%;}
.col-11 {width:91.666666%;}
.col-12 {width: 100%;}
/*Création de container sans marge prenant toute la largeur de la page*/
.container{
    width: 100%;
    margin: 0 auto;
    
}
/*Création d'une disposition en ligne avec retour à la ligne si débordement*/
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/*Création d'une classe pour centrer le contenu*/
.center{
    display: flex;
    justify-content: center;
}
/*Enlève le style des listes sélectionées*/
.list{
    list-style-type: none;
}
/*Classes contenant les couleurs demandées*/
.beigeText{
    color: #FAE5D1;
}
.beigeBg{
    background-color: #FAE5D1;
}
.brown{
   background-color: #AC7961;
}
.darkGrey{
   background-color:#1E1E1E;
}
header{
    background-color: #FAE5D1;
}