/*Importation de la police demandée*/
@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');
*  {
    /* Inclut le padding et la bordure dans la largeur et la hauteur de l'élément.
      Cela simplifie le calcul des tailles et évite les débordements inattendus. */
    box-sizing: border-box;
    /* Aligne les éléments sur la ligne de base du texte environnant, pour un rendu plus cohérent. */
    vertical-align: baseline;
    margin: 0 auto;
    /*Application de la police*/
    font-family: "Kufam";
}

/* création des colonnes en % avec 6 chiffres après la virgule*/
.col-1 {width: 8.333333%;}
.col-2 {width: 16.666666%;}
.col-3 {width: 25%;}
.col-4 {width: 33.333333%;}
.col-5 {width: 41.666666%;}
.col-6 {width: 50%;}
.col-7 {width: 58.333333%;}
.col-8 {width: 66.666666%;}
.col-9 {width: 75%;}
.col-10 {width: 83.333333%;}
.col-11 {width:91.666666%;}
.col-12 {width: 100%;}
/*Création de container sans marge prenant toute la largeur de la page*/
.container{
    width: 100%;
    margin: 0 auto;
    
}
/*Création d'une disposition en ligne avec retour à la ligne si débordement*/
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/*Création d'une classe pour centrer le contenu*/
.center{
    display: flex;
    justify-content: center;
}
/*Enlève le style des listes sélectionées*/
.list{
    list-style-type: none;
}
/*Classes contenant les couleurs demandées*/
.beigeText{
    color: #FAE5D1;
}
.beigeBg{
    background-color: #FAE5D1;
}
.brown{
   background-color: #AC7961;
}
.brownText{
   color: #AC7961;
}
.darkGrey{
   background-color:#1E1E1E;
}
/*Application de la couleur à l'entête*/
header{
    background-color: #FAE5D1;
}
/*Organisation des items dans la barre de navigation*/
.nav{
    display: flex;
    justify-content: space-around;
}
/*Création du bouton arrondis sur les coin bas gauche et bas droit dans la barre de navigation */
nav a{
    text-decoration:  none;
    padding:10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/*Ajoute une marge intérieur au dessus de l'item*/
.paddingTop{
    padding-top:15px;
}
/*Ajoute une marge extérieure au dessus de l'item*/
.marginTop{
    margin-top: 5%;
}
/*Ajoute une marge extérieure sur le côté gauche de l'item*/
.marginLeft{
    margin-left: 25px;
}
/*Création de la Bordure des description et images d'objets en vente*/
.border{
    border-radius: 20px;
    border-style: dashed;
    border-color: #AC7961;
}
/*Augmente la taille du texte*/
.subTitle{
    font-size: 20px;
}
.text{
    font-size: 15px;
}
/*Met en italique */
.italic{
    font-style: italic;
}
/*Réduit la taille de la police*/
.small{
    font-size: 10px;
}
/*Ajustement de la position des textes */
span{
    margin:0;
}
.white{
    color: white;
}
.padding{
    padding: 10px;
}
.radius{
    border-radius: 20px;
}
.marginBottom{
    margin-bottom: 50px;
}
.bottom{
    display: flex;
    align-items: flex-end;
}
footer i{
    color: white;
}
.logo{
    display: flex;
    position: relative;
    bottom: 50px;
    border-radius: 10px;
    width: 5%;
}
/*On passe au style Version Mobile*/
@media screen and (max-width:480px) {
    .col-3{width: 100%;}
    .col-4{width: 100%;}
    .col-5{width: 100%;}
    .col-6{width: 100%;}
    .col-8{width: 100%;}
    nav a{
    text-decoration:  none;
    padding:0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    }
    footer img{
        bottom: 30px;
    }
    .nav{
        display: flex ;
        justify-content: center;
    }
    nav ul{
        padding: 0;
    }
    .logo{
        width: 15%;
        bottom: 30px;
    }
}